$primary: #4dafff;
$primary-light: #70bfff;
$primary-lighter: #94cfff;
$primary-lightest: #b7dfff;
$primary-dark: #3d8ccc;
$primary-darker: #2e6999;
$primary-darkest: #1e4666;

$secondary: #ff9d4d;
$secondary-light: #ffb070;
$secondary-lighter: #ffc494;
$secondary-lightest: #ffc494;
$secondary-dark: #cc7d3d;
$secondary-darker: #995e2e;
$secondary-darkest: #995e2e;

$tertiary: #ffeb3b;
$tertiary-light: #ffef62;
$tertiary-lighter: #fff389;
$tertiary-lightest: #fff7b0;
$tertiary-dark: #ccbc2f;
$tertiary-darker: #998d23;
$tertiary-darkest: #665e17;

$success: #56ff4d;
$success-light: #77ff70;
$success-lighter: #99ff94;
$success-lightest: #bbffb7;
$success-dark: #44cc3d;
$success-darker: #33992e;
$success-darkest: #22661e;
